body {
<<<<<<< HEAD
    margin: 20px 0px 20px 0px;
    background-color: black;
    font-family: "Roboto", roboto;
}
.container {
    width: 100%; 
    max-width: 600px;
    margin: auto; 
    background-color: white;
}
.container img {
    width: 100%;
    height: auto;
}
.image-p {
    width: 600px!important;
}
.header-p {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 5px 15px 5px 15px;
}

.html5icon, .dots {
    display: flex;              
    align-items: center;
}

.footer-p {
    padding: 15px;
}
.icons-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 5px 15px;
}

.icon-left i {
    margin-right: 10px;
}
.html5icon i, p{
    margin-right: 5px;
=======
    background: #bdbdbd;
    margin: 0;
}
div {
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post {
    background: white;
    margin-top: 10px;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: gray;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}
div.post img {
    width: 100%;
>>>>>>> 684ad8ff0a73b8a1329f28ee3b982dd9b32828af
}